html {
    background-color: #23272A;
}
form {
    height: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    size: 80rem;
}
form input {
    resize: none;
    size: 80rem;
    font-size: 1.5rem;
    padding-left: 1vh;
    border-radius: 10px;
    border-color:cadetblue;
    background-color:skyblue;
    color:#23272A;
    box-shadow: none;
}
form input[type="submit"] {
    cursor: pointer;
    transition: box-shadow 500ms;
}
form input:hover, form input[type="text"]:focus {
    box-shadow: 4px 4px black;
    transition: box-shadow 350ms;
}