html {
    background-color: #23272A;
}
h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: skyblue;
    text-shadow: 2px 2px black;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}